body {
    max-width: 600px;
    min-height: 100vh;

    display: flex;
    flex-direction: column;
}

.f-container {
    margin: 0 auto;
}

form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

label {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.auth-labels {
    min-width: 140px;
}

.answers {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.answers form {flex: 1 1 45%;}

.error {color: red;}